* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */

}

#tracker-main {
  padding: 20px 30px;
  /* width: 0vw; */
  background-color: rgb(127, 157, 255);
  border: 4px solid blue;
  border-radius: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-size {
  font-size: 25px;
}

#income-expense {
  display: flex;
  padding: 10px 25px;
  justify-content: space-evenly;
  background-color: rgb(101, 136, 248);

}

.income-radio {
  margin: 12px 0px;
}

.expense-radio {
  margin: 12px 0px;

}

.income {
  /* height: 40px;
  width: 110px; */
  padding: 0px 8px;
}

.expense {
  padding: 0px 8px;
  /* height: 40px;
  width: 100px; */

}

#transaction {
  /* display: flex; */
}

.transaction-text {
  margin: 4px 20px;
}

.new-transaction {
  margin: 4px 8px;

}

.items-transaction {
  margin: 8px 4px;
  height: 40px;
  /* background-color: lightgreen ; */
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  justify-content: space-around;
}

.income-here {
  margin: 2px 8px;
  font-size: 20px;
}

.submit {
  margin: 4px 8px;
  width: 100px;
  height: 30px;
  cursor: pointer;

}

.balance-amount {
  margin: 8px;
  padding: 6px 10px;
  border: none;
  background-color: rgb(228, 228, 228);
  font-size: 20px;
}

#rs-inex {
  text-decoration: underline 2px black;
}

.text {
  font-size: 25px;
}

.description {
  margin: 8px;
  padding: 6px 10px;
  border: none;
  font-size: 20px;
  background-color: rgb(228, 228, 228);
}

.salary-box {
  margin: 8px;
  font-size: 20px;
  padding: 12px 15px;
  height: 30px;
  background-color: rgb(228, 228, 228);


}

.newAmount {
  height: 30px;
  margin: 4px 8x;
}

.footerHr {
  margin: 25px 0px;

}
.items-transaction{
font-size: 20px;
}
.amount {
  color: rgb(25, 0, 255);
  padding: 4px 15px;
  width: 15vw;
  border: none;
  background-color: antiquewhite;
  font-size: 20px;
  height: 4vh;
  margin: 0px 6px;
  border-radius: 5px;
}

.close-x:hover {
  display: flex;
  justify-content: center;
  align-content: center;
  color: Blue;
  cursor: pointer;
  border-radius: 20px;
  
}
.x-button{
  cursor: pointer;
font-size: 15px;  
border-radius: 20px;
width: 50px;
}
.x-text{
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer{
  display: flex;
}
.circle{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.circle-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: blue;
  border-radius: 250px;
  color: white;
  font-size: 20px;
  border: 2px solid black;
  cursor: pointer;
}


.more-logo{
  width: 40px;
  height: 40px;
  margin: 12px 8px;
}
.form{
  border-radius: 20px;
}