* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */

}

#tracker-main {
  /* margin-top: 40px; */
  width: 30vw;
  background-color: antiquewhite;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  
  /* width: 50%; */
  height: 100%;
}

.font-size {
  font-size: 25px;
}

#income-expense {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  padding: 10px 25px;
  justify-content: space-evenly;
  background-color: rgb(212, 215, 255);
}

.income {
  /* height: 40px;
  width: 110px; */
  padding: 0px 8px;
}

.expense {
  padding: 0px 8px;
  /* height: 40px;
  width: 100px; */

}

#transaction {
  /* display: flex; */
}

.transaction-text {
  margin: 4px 20px;
}

.items-transaction {
  margin: 8px 4px;
  height: 40px;
  background-color: rgb(238, 255, 0);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  justify-content: space-around;
}
.salary-box{
  display: flex;
  justify-content: center;
}
.income-here{
  margin: 2px 8px;
  font-size: 20px;
}
.submit{
  margin: 2px 15px;
  cursor: pointer;
  margin: 0px 6px;
  width: 5vw;
  height: 4vh;
  padding: 4px 15px;

}
#balance-amount {
  width: 20vw;
  padding: 2px 8px;
  height: 4vh;
  border: none;
  background-color: antiquewhite;
  font-size: 20px;
}
#rs-inex{
  text-decoration: underline 2px black;
}
.text{
  color: white;
  font-size: 25px;
}
.new-transaction{
  margin: 2px 20px;
}
.description{
  margin: 0px 6px;
  width: 20vw;
  height: 4vh;
  border-radius: 5px;
  padding: 4px 15px;
  border: none;
  background-color:antiquewhite ;
  font-size: 20px;
color: rgb(25, 0, 255);
}
.amount{
color: rgb(25, 0, 255);
  padding: 4px 15px;
  width: 15vw;
  border: none;
  background-color:antiquewhite ;
  font-size: 20px;
  height: 4vh;
  margin: 0px 6px;
  border-radius: 5px;


}