* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;

}

#tracker-main {
  margin-top: 40px;
  width: 30vw;
  background-color: antiquewhite;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  
  /* width: 50%; */
  height: 80vh;
}

.font-size {
  font-size: 25px;
}

#income-expense {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  padding: 10px 25px;
  justify-content: space-evenly;
}

.income {
  background-color: rgb(97, 160, 255);
  /* height: 40px;
  width: 110px; */
  padding: 0px 8px;
}

.expense {
  padding: 0px 8px;
  background-color: rgb(255, 73, 73);
  /* height: 40px;
  width: 100px; */

}

#transaction {
  /* display: flex; */
}

.transaction-text {
  margin: 4px 20px;
}

.items-transaction {
  margin: 8px 4px;
  height: 40px;
  background-color: rgb(238, 255, 0);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  justify-content: space-around;
}

.balance-amount {
  width: 12vw;
  padding: 2px 8px;
  height: 4vh;
}
.rs-inex{
  text-decoration: underline 2px black;
}
.text{
  color: white;
  font-size: 25px;
}